<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <ResourcePreloader />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Playfair+Display:ital,wght@0,600;0,700;1,600&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="_content/FloraMix.Shared/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="_content/FloraMix.Shared/app.css" />
    <link rel="stylesheet" href="FloraMix.Web.styles.css" />
    <ImportMap />
    <link rel="icon" type="image/png" href="_content/FloraMix.Shared/favicon.png" />
    <HeadOutlet @rendermode="InteractiveServer" />
</head>

<body>
    <Routes @rendermode="InteractiveServer" />
    <ReconnectModal />
    <script src="@Assets["_framework/blazor.web.js"]"></script>
    <script>
        window.downloadFileFromBytes = (fileName, contentType, bytes) => {
        const blob = new Blob([new Uint8Array(bytes)], { type: contentType });
        const url = URL.createObjectURL(blob);
        const a = document.createElement("a");
        a.href = url;
        a.download = fileName;
        document.body.appendChild(a);
        a.click();
        document.body.removeChild(a);
        URL.revokeObjectURL(url);
        };
    </script>
</body>

</html>